.button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; 
}

#mainBody {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #a3b1bc;
    padding: 10px;
    width: 500px;
}

#displayCalculator{
    height: 90px;
    border: 1px solid black;
    width: 518px;
    background-color: #a3b1bc;
    display: flex;
    justify-content: flex-end;
}

#display{
    display: flex;
    align-items: flex-end;
    font-size: 40px;
}



